.btn {
    border: 0;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    font-family: 'Epilogue';
}

.btn:active {
    transform: scale(0.95);
}

.btn:hover {
    cursor: pointer;
}

.btn-primary {
    background-color: var(--almost-black);
    color: white;
    font-weight: 700;
    font-size: 16px;
    height: 48px;
    width: 136px;
    border-radius: 15px;
    border: 2px var(--almost-black) solid;
}

.dark .btn-primary {
    background-color: var(--dark-theme-text-color);
    color: black;
    border: 2px var(--dark-theme-text-color) solid;
}

.btn-primary:hover {
    background-color: white;
    color: var(--almost-black)
}

.dark .btn-primary:hover {
    background-color: transparent;
    color: var(--dark-theme-text-color);
}


.btn-secondary {
    border: 1px solid var(--medium-grey);
    border-radius: 14px;
    min-width: 150px;
    min-height: 32px;
    color: var(--medium-grey);
    transition: all 0.2s;
    background-color: transparent;
}

.dark .btn-secondary {
    border-color: var(--dark-theme-text-color);
}

.btn-tiercary {
    color: var(--medium-grey);
}

.btn-tiercary:hover {
    text-decoration: underline;
}

.btn-secondary:hover {
    border: solid black 1px;
    color: black;
}

.dark .btn-secondary:hover {
    border-color: white;
    color: white;
}
