
:root {
	--medium-grey: hsl(0, 0%, 41%);
	--almost-black: hsl(0, 0%, 8%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    font-family: 'Epilogue';
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, h1, 
h2, h3, p,a, img, strong,
ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

li {
	list-style-type: none;
}

/* My rules */

a {
	text-decoration: none;
	color: inherit;
}

h1 {
    line-height: 42px;
    font-size: 36px;
    letter-spacing: -0.5px;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: var(--medium-grey);
}

/* Design */

.design {
	/* background: no-repeat url('./assets/design/mobile-design.jpg'); */
	display: none;
	/* background: no-repeat url('./assets/design/mobile-menu-expanded.jpg'); */
	/* background: no-repeat url('./assets/design/desktop-design.jpg'); */
	/* background: no-repeat url('./assets/design/mobile-menu-collapsed.jpg'); */
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
	z-index: 10;
}

/* general rules */

.center {
	display: flex;
    justify-content: center;
    align-items: center;
}

.flex-1 {
	flex: 1;
}